# Package.
pip==20.0.2
wheel==0.32.3
bumpversion==0.5.3

# Doc.
Sphinx==2.4.4
sphinx-autodoc-typehints==1.10.3
watchdog==0.10.2
twine==3.1.1

# CI.
tox==3.14.6
yapf==0.29.0
pylint==2.4.4
mypy==0.770
pytest==5.4.1
pytest-runner==5.2
coverage==5.0.4
numpy==1.18.2

# Offline tasks.
invoke==1.4.1
